@model LoginRequest
 <!-- breadcrumb-area-start -->
<section class="breadcrumb-area" data-background="/img/bg/page-title.png">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="breadcrumb-text text-center">
                    <h1>Login</h1>
                    <ul class="breadcrumb-menu">
                        <li><a href="index.html">home</a></li>
                        <li><span>Login</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->
<!-- login Area Strat-->
<section class="login-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="basic-login">
                    <h3 class="text-center mb-60">Login From Here</h3>
                    @Html.ValidationSummary(true)
                    <form action="@Url.Action("Login","Account")" method="post">
                        <input name="ReturnUrl"  type="hidden" value="@Model.ReturnUrl"/>
                        @Html.ValidationMessageFor(c => c.Email)
                        <label for="name">Email Address <span>**</span></label>
                        <input name="Email" id="name" type="text" placeholder="Enter Username or Email address..." />
                        @Html.ValidationMessageFor(c => c.Password)
                        <label for="pass">Password <span>**</span></label>
                        <input name="Password" id="pass" type="password" placeholder="Enter password..." />
                        <div class="login-action mb-20 fix">
                            <span class="log-rem f-left">
                                <input id="remember" type="checkbox" />
                                <label for="remember">Remember me!</label>
                            </span>
                            <span class="forgot-login f-right">
                                <a href="#">Lost your password?</a>
                            </span>
                        </div>
                        <button type="submit" class="btn theme-btn-2 w-100">Login Now</button>
                        <div class="or-divide"><span>or</span></div>
                        <a href="@Url.Action("Register","Account", new {returnUrl = Context.Request.GetEncodedPathAndQuery()})" class="btn theme-btn w-100">Register Now</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- login Area End-->
