@model List<SliderHomeIndexDto>
<section class="slider-area pos-relative">
    <div class="slider-active">
        @foreach (var slider in Model)
        {
            <div class="single-slider slide-1-style slide-height d-flex align-items-center" data-background="@slider.BackgroundImage">
                <div class="shape-title bounce-animate">
                </div>
                <div class="shape-icon bounce-animate">
                    <img src="~/img/slider/shape-icon.png" alt="">
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-7">
                            <div class="slide-content">
                                <span data-animation="fadeInRight" data-delay=".2s">@slider.Title</span>
                                <h1 data-animation="fadeInUp" data-delay=".5s">
                                    @slider.Slogan
                                </h1>
                                <div class="slide-btn">
                                    <a class="btn theme-btn" href="shop.html" data-animation="fadeInLeft" data-delay=".7s">shop now</a>
                                    <a class="btn white-btn" href="shop.html" data-animation="fadeInRight" data-delay=".9s">category</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5">
                            <div class="slide-shape1" data-animation="bounceInRight" data-delay=".9s"><img src="@slider.TopImage" alt=""></div>
                            <div class="slide-shape2" data-animation="bounceInRight" data-delay="1.2s"><img src="@slider.BottomImage" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</section>