@using EcommerceApp.MVC.DTOs.Categories
@model List<CategoryHomeIndexDto>
<section class="product-area box-90 pt-70 pb-40">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-5 col-lg-12">
                <div class="area-title mb-50">
                    <h2>Brand New Products</h2>
                    <p>Browse the huge variety of our products</p>
                </div>
            </div>
            <div class="col-xl-7 col-lg-12">
                <div class="product-tab mb-40">
                    <ul class="nav product-nav  justify-content-xl-end" id="myTab1" role="tablist">
                        @{
                            var counter = 0;
                        }
                        @foreach (var category in Model)
                        {
                            <li class="nav-item">
                                <a class="nav-link @(counter==0?"active":"")" id="@category.Name-tab" data-toggle="tab" href="#@category.Name" role="tab" aria-controls="@category.Name"
                                   aria-selected="true">@category.Name</a>
                            </li>

                            counter++;
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="product-tab-content">
                    <div class="tab-content" id="myTabContent">
                        @{
                            counter = 0;
                        }
                        @foreach (var category in Model)
                        {
                            <div class="tab-pane @(counter == 0 ?"fade show active":"")" id="@category.Name" role="@category.Name" aria-labelledby="@category.Name-tab">
                                <div class="product-slider owl-carousel">
                                    @foreach (var product in category.Products)
                                    {
                                        <div class="pro-item">
                                            <div class="product-wrapper mb-50">
                                                <div class="product-img mb-25">
                                                    <a href="product-details.html">
                                                        <img src="@product.MainImage" alt="">
                                                        <img class="secondary-img" src="@product.Images?.FirstOrDefault()" alt="">
                                                    </a>
                                                    <div class="product-action text-center">
                                                        <a href="#" title="Shoppingb Cart">
                                                            <i class="flaticon-shopping-cart"></i>
                                                        </a>
                                                        <a href="#" title="Quick View">
                                                            <i class="flaticon-eye"></i>
                                                        </a>
                                                        <a href="#" data-toggle="tooltip" data-placement="right" title="Compare">
                                                            <i class="flaticon-compare"></i>
                                                        </a>
                                                    </div>
                                                    @* <div class="sale-tag">
                                                            <span class="new">new</span>
                                                            <span class="sale">sale</span>
                                                        </div>*@
                                                </div>
                                                <div class="product-content">
                                                    <div class="pro-cat mb-10">
                                                        <a href="#">@category.Name </a>

                                                    </div>
                                                    <h4>
                                                        <a href="product-details.html">@product.Name</a>
                                                    </h4>
                                                    <div class="product-meta">
                                                        <div class="pro-price">
                                                            @if (product.AfterDiscountPrice != null)
                                                            {
                                                                <span>$@product.AfterDiscountPrice USD</span>
                                                                <span class="old-price">$@product.Price USD</span>
                                                            }
                                                            else
                                                            {
                                                                <span>$@product.Price USD</span>
                                                            }

                                                        </div>
                                                    </div>
                                                    <div class="product-wishlist">
                                                        <a href="#"><i class="far fa-heart" title="Wishlist"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    }


                                </div>
                            </div>

                            counter++;

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>