<!doctype html>
<html class="no-js" lang="zxx">

<!-- Mirrored from wphix.com/template/vue/vue/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 03 Aug 2023 15:59:17 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Vue - Clean Minimal eCommerce HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="~/manifests/site.html">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/meanmenu.css">
    <link rel="stylesheet" href="~/css/meanmenu.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/default.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <style>
        .field-validation-error {
            color: red;
        }

        .validation-summary-errors li {
            color: red;
            font-size: 1.3em;
        }
    </style>
    @RenderSection("Styles", false)
</head>
<body>


    <!-- preloader -->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- preloader end  -->
    <!-- header start -->
    <header>
        <div id="header-sticky" class="header-area box-90">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-6 col-md-6 col-7 col-sm-5 d-flex align-items-center pos-relative">
                        <div class="basic-bar cat-toggle">
                            <span class="bar1"></span>
                            <span class="bar2"></span>
                            <span class="bar3"></span>
                        </div>
                        <div class="logo">
                            <a href="@Url.Action("Index","Home")"><img src="~/img/logo/logo.png" alt=""></a>
                        </div>

                        @await Component.InvokeAsync("CategoryMenu")

                    </div>
                    <div class="col-xl-8 col-lg-6 col-md-8 col-8 d-none d-xl-block">
                        <div class="main-menu text-center">
                            <nav id="mobile-menu">
                                <ul>
                                    <li>
                                        <a href="@Url.Action("Index","Home")">Home</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("List","Product")">Products </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","Contact")">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6 col-md-6 col-5 col-sm-7 pl-0">
                        <div class="header-right f-right">
                            <ul>

                                @if (Context.User.Identity.IsAuthenticated)
                                {
                                    var name = Context.User.Claims.Where(c => c.Type == "Name").FirstOrDefault();
                                    var surname = Context.User.Claims.Where(c => c.Type == "Surname").FirstOrDefault();
                                    <li class="logged-in">
                                        <a href="@Url.Action("Login","Account")">
                                            @name?.Value[0] @surname?.Value[0]
                                        </a>
                                    </li>
                                    <li class="logged-in">
                                        <a href="@Url.Action("Logout","Account")">SO</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="search-btn">
                                        <a class="search-btn nav-search search-trigger" href="#"><i class="fas fa-search"></i></a>
                                    </li>
                                    <li class="login-btn"><a href="@Url.Action("Login","Account",new {returnUrl =Context.Request.GetEncodedPathAndQuery()})"><i class="far fa-user"></i></a></li>
                                }

                                
                                @await Component.InvokeAsync("Cart")
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 d-xl-none">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->

    <main>

        @RenderBody()
    </main>


    <!-- footer start -->
    <footer>
        <div class="footer-area box-90 pt-100 pb-60">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-5 col-md-6 ">
                        <div class="footer-widget mb-40">
                            <div class="footer-logo">
                                <a href="index.html"><img src="~/img/logo/footer-logo.png" alt=""></a>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore mag na
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <div class="footer-time d-flex mt-30">
                                <div class="time-icon">
                                    <img src="~/img/icon/time.png" alt="">
                                </div>
                                <div class="time-text">
                                    <span>Got Questions ? Call us 24/7!</span>
                                    <h2>(0600) 874 548</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3 d-lg-none d-xl-block">
                        <div class="footer-widget pl-50 mb-40">
                            <h3>Social Media</h3>
                            <ul class="footer-link">
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Behance</a></li>
                                <li><a href="#"> Dribbble</a></li>
                                <li><a href="#">Linkedin</a></li>
                                <li><a href="#">Youtube</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3 d-lg-none d-xl-block">
                        <div class="footer-widget pl-30 mb-40">
                            <h3>Location</h3>
                            <ul class="footer-link">
                                <li><a href="#">New York</a></li>
                                <li><a href="#">Tokyo</a></li>
                                <li><a href="#">Dhaka</a></li>
                                <li><a href="#"> Chittagong</a></li>
                                <li><a href="#">China</a></li>
                                <li><a href="#">Japan</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <div class="footer-widget mb-40">
                            <h3>About</h3>
                            <ul class="footer-link">
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#"> Privacy Policy</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Wholesale</a></li>
                                <li><a href="#">Direction</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-5 col-md-6">
                        <div class="footer-widget mb-40">
                            <div class="footer-banner">
                                <a href="shop.html"><img src="~/img/banner/add.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area box-105">
            <div class="container-fluid">
                <div class="copyright-border pt-30 pb-30">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="copyright text-center text-md-left">
                                <p>Copyright © 2019 <a href="#">BasicTheme</a>. All Rights Reserved</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="footer-icon text-center text-md-right ">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <!-- Fullscreen search -->
    <div class="search-wrap">
        <div class="search-inner">
            <i class="fas fa-times search-close" id="search-close"></i>
            <div class="search-cell">
                <form method="get">
                    <div class="search-field-holder">
                        <input type="search" class="main-search-input" placeholder="Search Entire Store...">
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- end fullscreen search -->
    <!-- JS here -->
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/one-page-nav-min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/jquery.meanmenu.min.js"></script>
    <script src="~/js/ajax-form.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/jquery.final-countdown.min.js"></script>
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/custom/delete-basket.js"></script>
    <script src="~/custom/delete-nav-basket.js"></script>
    @RenderSection("Scripts", false)
</body>

</html>

